body{
	margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
}
header ul{
	list-style-type: none;
}
header ul li{
	list-style-type: none;
	display: inline;
	color: blue;
}

header ul li a:hover{
	color: aqua;
}